.btn{
    width: 80px;
    &__active{
        background: rgba(22, 192, 152, 0.38);
        border: 1px solid $btnActiveBorder;
        border-radius: 4px;
        color:$btnActiveColor; 
        padding: 2px 12px 1px 17px;
        text-align: center;



        margin-right: 0px;
    }
    &__inactive{
        background: #FFC5C5;
        border: 1px solid $btnInactiveBorder;
        border-radius: 4px;
        color: $btnInactiveColor;
        padding: 2px 12px 1px 8px;
        text-align: center;
    }
}
