.icon{
    &:before{
        content: "";
        background-repeat: no-repeat;
    }
    &-search{
      &:before {
        position: absolute;
        background-image: url(/images/customers/search.svg);
        width: 24px;
        height: 24px;
        top: 6px;
        display: block;
        @include media-breakpoint-down(md){
          top: 25px;
          left: 22px;
        }
      }
    }
    &-chevron{
      &:before {
        position: absolute;
        content: url(/images/navbar/chevron-right.svg);
        left: 220px;
        right: 0px;
        bottom: 4px;
      }
      &-active{
        position: absolute;
        content: url(/images/navbar/chevron-right-active.svg);
        left: 220px;
        right: 0px;
        bottom: 14px;
      }
    }
    &-dashboard {
        &:before {
            background-image: url(/images/navbar/dashboard.svg);
          }
    }
    &-product {
        &:before {
            background-image: url(/images/navbar/product.svg);
          }
    }
    &-customers {
        &:before {
            background-image: url(/images/navbar/customers.svg);
          }
    }
    &-income {
        &:before {
            background-image: url(/images/navbar/income.svg);
          }
    }
    &-promote {
        &:before {
            background-image: url(/images/navbar/promote.svg);
          }
    }
    &-help {
      &:before {
        background-image: url(/images/navbar/help.svg);
      }
    }
}