.icon{
    &:before{
        content: "";
        background-repeat: no-repeat;
    }
    &-search{   // - to _
      &:before {
        position: absolute;
        content: url(/images/customers/search.svg);
        width: 24px;
        height: 24px;
        top: 6px;
        display: block;
        @include media-breakpoint-down(md){
          top: 25px;
          left: 22px;
        }
      }
    }
    &-chevron{ //right arrow
      &:before {
        position: absolute;
        content: url(/images/navbar/chevron-right.svg); //right arrow
        right: 0px;
        bottom: 4px;
        @include media-breakpoint-down(md) {
          left:auto;
        }
      }
      &-active{
        position: absolute;
        content: url(/images/navbar/chevron-right-active.svg); //image mask in svg
        right: 0px;
        bottom: 14px;
        @include media-breakpoint-down(md) {
          left:auto;
        }
      }
    }
    &-dashboard {
        &:before {
            content:  url(/images/navbar/dashboard.svg);
          }
    }
    &-product {
        &:before {
            content:  url(/images/navbar/product.svg);
          }
    }
    &-customers {
        &:before {
            content:  url(/images/navbar/customers.svg);
          }
    }
    &-income {
        &:before {
            content:  url(/images/navbar/income.svg);
          }
    }
    &-promote {
        &:before {
            content:  url(/images/navbar/promote.svg);
          }
    }
    &-help {
      &:before {
        content:  url(/images/navbar/help.svg);
      }
    }
}