body{
    background-color: $bg-color;
    //background-image: url(/images/Dashboard.png);
    background-repeat: no-repeat;
    background-position-x: left;
    font-family: 'Poppins', sans-serif;
    
}
.page{
    margin-left: 377px;
    margin-top: 43px;
    
    &__title{
        margin-bottom: 56px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
    }
    &__contnent{
        padding: 29px 10px 10px 10px;
        max-width: 968px;
        border-radius: 30px;
        background-color: #FFFFFF; 
    }
    &__article{
        margin-left: 28px;
        &_level_2{
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: -0.01em;
            text-align: left;            
        }
        &_level_3{
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: -0.01em;
            text-align: left;
        }
    }
    &__info{
        padding: 16px 9px 3px 28px;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: #B5B7C0;
    }
    @include media-breakpoint-down(md){
        margin-left: 0;
        &__header{
            flex-wrap: wrap;
        }
    }
}
.subtext{
    color:#16C098;
}
.searchbar{ 
    position: relative;
    margin-top: 19px;
    &__input{
        border-radius: 10px;
        border: 0px;
        width: 216px;
        margin-right: 45px;
        padding: 5px 14px 5px 27px;
        background-color:#F9FBFF;
    }
    &__icon{
        width: 24px;
        height: 24px;
    }
    @include media-breakpoint-down(md){
        &__input{
            margin: 20px;
        }
    }
}