.navigation {
  background-color: $whiteColor;
  height: 100%;
  position: fixed;
  left: 0;
  top:0 ;
  &__toggler{
    padding: 15px;
  }
  &__heading {

    @include media-breakpoint-down(md) {display: none;}
    font-weight: 600;
    font-size: 26px;
    line-height: 46px;
    padding-bottom: 34px;
    // padding: 0px 0px 0px 43px;
    // background: url(/images/icons/logo.svg) 0 50% no-repeat;
    &::before {
      content: "";
      background: url(/images/icons/logo.svg) no-repeat;
      padding: 0px 0px 0px 40px;
    }
    &_mobile{
      @include media-breakpoint-up(md) {display: none;}
      margin: 8px;
      &::before {
        content: "";
        background: url(/images/icons/logo.svg) no-repeat;
        padding: 0px 0px 0px 40px;
      }
    }
  }
  &__content{
    padding: 31px 10px 13px 33px;
  }

  &__version {
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
  }
  &__item {
    margin: 23px 0px;
    padding: 6px 3px 10px 6px;
    min-width: 243px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $navbarItemColor;
    @include media-breakpoint-down(md) {
      min-width: 100%;
    }
    &_active{
      color: $whiteColor;
      background-color: $second-color;
      border-radius: 8px;
      padding: 9px 5px;
    }
  }
  &__icon{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 11px 0px 0px;
    &:before{
        width: 24px;
        height: 24px;
        display: block;
    }
  }
  @include media-breakpoint-down(md) {
    position: relative;
    height: auto;
    right: 0;
    z-index: 1030;
    top:0;
    &__content{
      padding-top: 10px;
      position: absolute;
      width: 100%;
      background-color:$navbarContentColor;
    }
    &__heading{
      color: $whiteColor;
    }
    &__items{
      flex-direction: column;
      
    }
    &__item{
      color: $whiteColor;
      width: 0;
    }
    &__open-menu {
      opacity: 1;
      }
    &__closed-menu {
      opacity: 0;
      height: 0;
      padding: 0;
    }
    i{
        display: block;
        text-align: center;
    }
  }
}
.profile{
  display: flex;
  position: absolute;
  bottom: 30px;
  width: 100%;
  &__title{
    margin-left: 25px;
  }
  &__img{
    display: block;
    padding: 2px;
  }
  @include media-breakpoint-down(md) {
    position: relative;
    bottom: 0px;
    justify-content: center;
    &__title{
      color: $whiteColor;
    }
  }
}
