.navigation {
  background-color: #ffffff;
  i {
    display: none;
    }

  height: 100%;
  position: fixed;
  left: 0;
  top:0 ;
  &__hamburger{
    background-color: #5932EA;
    width: 50px;
    height: 50px;
  }
  &__heading {
    font-weight: 600;
    font-size: 26px;
    line-height: 46px;
    padding-bottom: 34px;
  }
  &__content{
    padding: 31px 10px 13px 33px;
  }
  &__logo {
    position: relative;
    margin-left: 40px;
    &:before {
      content: "";
      position: absolute;
      background-image: url(/images/icons/logo.svg);
      background-repeat: no-repeat;
      left: -44px;
      right: 0px;
      bottom: -4px;
      height: 100%;
    }
  }
  &__version {
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
  }
  &__item {
    margin: 23px 0px;
    padding: 6px 3px 10px 6px;
    min-width: 243px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #9197b3;
    &_active{
      color: white;
      background-color: #5932EA;
      border-radius: 8px;
      padding: 9px 5px;
    }
  }
  &__icon{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 11px 0px 0px;
    &:before{
        width: 24px;
        height: 24px;
        display: block;
    }
  }
  @include media-breakpoint-down(md) {
    position: relative;
    height: auto;
    right: 0;
    z-index: 1030;
    top:0;
    .navigation__content{
      padding-top: 10px;
      position: absolute;
      width: 100%;
      background-color: black;
    }
    .navigation__items{
      flex-direction: column;
    }
    .open-menu {
      opacity: 1;
      }
    .closed-menu {
      opacity: 0;
      height: 0;
      padding: 0;
    }
    i{
        display: block;
        text-align: right;
        padding: 0 10px 10px 0;
    }
  }
}
.profile{
  display: flex;
  &__title{
    margin-left: 25px;
  }
  &__img{
    display: block;
    padding: 2px;
  }
}

