.navigation {
  background-color: $whiteColor;
  .row{
    margin-right:0px ;
  }
  i {
    display: none;
    }

  height: 100%;
  position: fixed;
  left: 0;
  top:0 ;
  &__hamburger{
    @include media-breakpoint-up(md) {display: none;}
    background-color: $second-color;
    height: 100%;
    width: 60px;
    color: $whiteColor;
  }
  &__heading {
    @include media-breakpoint-down(md) {display: none;}
    font-weight: 600;
    font-size: 26px;
    line-height: 46px;
    padding-bottom: 34px;
    &_mobile{
      @include media-breakpoint-up(md) {display: none;}
      margin: 10px;
    }
  }
  &__content{
    padding: 31px 10px 13px 33px;
  }
  &__logo {
    position: relative;
    margin-left: 40px;
    &:before {
      content: "";
      position: absolute;
      background-image: url(/images/icons/logo.svg);
      background-repeat: no-repeat;
      left: -44px;
      right: 0px;
      bottom: -4px;
      height: 100%;
    }
  }
  &__version {
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
  }
  &__item {
    margin: 23px 0px;
    padding: 6px 3px 10px 6px;
    min-width: 243px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $navbarItemColor;
    @include media-breakpoint-down(md) {
      min-width: 100%;
      text-align: center;
    }
    &_active{
      color: $whiteColor;
      background-color: $second-color;
      border-radius: 8px;
      padding: 9px 5px;
    }
  }
  &__icon{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 11px 0px 0px;
    &:before{
        width: 24px;
        height: 24px;
        display: block;
    }
  }
  @include media-breakpoint-down(md) {
    position: relative;
    height: auto;
    right: 0;
    z-index: 1030;
    top:0;
    &__content{
      padding-top: 10px;
      position: absolute;
      width: 100%;
      background-color:$navbarContentColor;
    }
    &__heading{
      color: $whiteColor;
    }
    &__items{
      flex-direction: column;
      
    }
    &__item{
      color: $whiteColor;
      width: 0;
    }
    .open-menu {
      opacity: 1;
      }
    .closed-menu {
      opacity: 0;
      height: 0;
      padding: 0;
    }
    i{
        display: block;
        text-align: center;
    }
  }
}
.navbar-toggler{
  padding: 15px;
}
.span__navbar{
  display:block;
  width: 21px;
  padding: 2px;
  border-top: 3px solid $bg-color;
}

.profile{
  display: flex;
  position: absolute;
  bottom: 30px;
  width: 100%;
  &__title{
    margin-left: 25px;
  }
  &__img{
    display: block;
    padding: 2px;
  }
  @include media-breakpoint-down(md) {
    position: relative;
    bottom: 0px;
    justify-content: center;
    &__title{
      color: $whiteColor;
    }
  }
}
