.page{
    margin-left:  346px;
    margin-top: 43px;
    
    &__title{
        padding-left: 31px;
        margin-bottom: 56px;
    }
    @include media-breakpoint-down(md){
        margin-left: 0;
        &__header{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info{
            padding: 0px;
        }
    }
}