.table{
    .row{
        //justify-content: space-around;
   
    }
    &__item{
        @include media-breakpoint-down(md){
            border-bottom: solid;
            border: 1px, black;
        }
    }
    &__th, &__td{
        font-weight: 500;
        font-size: 14px;
        vertical-align: middle;
        border-top: none;
    }
    &__th{
        color: $third-color;   // not pageinfo but same color
        padding: 32px 32px 15px 3px;
        &:first-child{
            padding-left: 13px;
        }
        &:last-child{
            text-align: center;
            padding-right: 0px;
        }
        @include media-breakpoint-down(md){
            display: none;
        }
        
    }
    &__td{
        border-bottom: 1px solid $firstBorderColor;
        color: $tableTdColor;
        padding: 19px 14px 20px 14px;
        &:last-child{
            text-align: right;
        }
        @include media-breakpoint-down(md){
            &:last-child{
                text-align: left;
            }
            @include make-col(6);
            border: none;
        }

    }    
}
.table-wrapper{
    padding: 0px 34px 0px 28px;
}