$bgСolor: #FAFBFF;
$second-color: #5932EA;
$third-color:#B5B7C0; //make general name
$btnActiveBorderColor: #00B087; 
$btnActiveColor: #008767;  
$btnInactiveBorder:#DF0404;
$btnInactiveColor:#DF0404;
$navbarItemColor:#9197b3;
$whiteColor:#ffffff;
$subtextColor:#16C098;
$navbarContentColor:#2a2e29 ;
$firstBorderColor:#EEEEEE;
$paginationBackground:#F5F5F5;  //bgPagination or Background
$tableTdColor:#292D32;